@font-face {
  font-family: "LEMONMILK-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("Fonts/LEMONMILK-Medium.otf");
}

@font-face {
  font-family: "LEMONMILK-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("Fonts/LEMONMILK-Regular.otf");
}

@font-face {
  font-family: "LEMONMILK-Light";
  font-style: normal;
  font-weight: 300;
  src: url("Fonts/LEMONMILK-Light.otf");
}
:root {
  --blaze-orange: rgba(255, 102, 0, 1);
  --jacaranda: rgba(33, 0, 38, 1);
  --soft-peach: rgba(242, 234, 239, 1);
}
* {
  box-sizing: border-box;
  margin: 0px;
  text-align: center;
}
a, a:hover, a:active, a:focus, a:visited{
    text-decoration: none;
}
.title {
    background-color: var(--jacaranda);
    padding-bottom: 550px;
}
.banner {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}
.banner-right {
  display: flex;
}
.college-logo img{
  height: 80px;
}
.sign-up-box {
  background-color: var(--blaze-orange);
  border-radius: 67px;
  margin: 20px 20px 0 0;
  padding: 20px 35px;
}
.sign-up {
  color: white;
  font-family: "LEMONMILK-Regular";
  font-size: 18px;
}
.home-icon {
  height: 65px;
  margin: 20px 0 0 20px;
}
.xactitude21 {
  color: white;
  font-family: "LEMONMILK-Medium";
  font-size: 72px;
  margin-top: 200px;
}
.heading {
  font-family: "LEMONMILK-Regular";
  font-size: 48px;
  margin-bottom: 50px;
}
.fest, .dept, .college, .contact {
  padding: 200px 20%;
  font-family: sans-serif;
}
.dept {
  background-color: var(--soft-peach);
}
.contact {
  background-color: var(--jacaranda);
  color: white;
}

@media only screen and (max-width: 800px){
  .title {
    padding-bottom: 450px;
  }
  .banner {
    display: block;
  }
  .college-logo img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
  .banner-right {
    justify-content: center;
    margin: 30px 10%;
  }
  .xactitude21 {
    margin-top: 100px;
    font-size: 64px;
  }
  .fest, .dept, .college, .contact {
    padding: 200px 50px;
  }
}