
@font-face {
    font-family: "LEMONMILK-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("Fonts/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LEMONMILK-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("Fonts/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: "LEMONMILK-Light";
    font-style: normal;
    font-weight: 300;
    src: url("Fonts/LEMONMILK-Light.otf");
}
:root {
    --blaze-orange: rgba(255, 102, 0, 1);
    --cinnabar: rgba(239, 54, 54, 1);
    --dove-gray: rgba(112, 112, 112, 1);
    --jacaranda: rgba(33, 0, 38, 1);
    --soft-peach: rgba(242, 234, 239, 1);
}
* {
    margin:0;
    box-sizing: border-box;
}
a, a:hover, a:active, a:focus, a:visited{
    text-decoration: none;
}
.title {
    position:relative;
    background-color: black;
    padding-bottom: 50px;
}

.banner {
    position:relative;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.college-logo img{
    height: 80px;
}
.sign-up-box {
    background-color:transparent;
    border-radius: 67px;
    margin: 20px 0;
    padding: 20px 35px;
    color:blueviolet;
}
.sign-up-box:hover{
    background-color: var(--blaze-orange);
    color: white;
}
.sign-up {
    text-align: center;
    white-space: nowrap;
    font-family: "LEMONMILK-Regular";
    font-size: 18px;
}
.xactitude21 {
    position:relative;
    text-align: left;
    color: white;
    font-family: "LEMONMILK-Medium";
    font-size: 100px;
    margin:10% 5% 4% 5%;
    display: inline-block;
    animation-name: fade2;
    animation-duration: 2s;
}
 .timer {
    text-align: left;
    color: white;
    font-family:"LEMONMILK-Regular";
    font-size: 50px;
    margin-left: 5%;
    animation-name: up;
    animation-duration: 2s;
}

.register-box {
    text-align: center;
}
.button1{
    font-family: "LEMONMILK-Medium";
    font-size: 28px;
    font-weight: 200;
    padding: 1em 10px;
    margin:100px 5%;
    background: none;
    border-radius: 20px;
    width:30%;
    box-shadow:grey 2px 2px 4px;
}
.button1:hover{
    background-color: var(--cinnabar);
    border-style: none;
    outline: none;
    color: white;
}
.button1:focus{
    background-color: var(--jacaranda);
    border-style: none;
    outline: none;
    color: white;
}
.update-box {
    border-style: none;
    box-shadow: 8px 8px 12px gray;
    margin: 100px 0;
    padding: 8% 40%;
    opacity:0.7;
}
.update-box:hover{
   opacity:1;
   margin:60px 0 140px 0;
}
.update {
    color: black;
    font-family: "LEMONMILK-Regular";
    font-size: 32px;
    text-align: center;
    width:60%;
    line-height: 100px;
}
.event-box {
    text-align: center;
    padding: 20px 50px;
    margin: 1em 0;
    transition: 1s ease;
}
.heading{
    text-align: center;
    white-space: nowrap;
    color: black;
    font-family: "LEMONMILK-Light";
    font-size: 40px;
    font-weight: 400;
}

.contact {
    background-color: var(--jacaranda);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.contact div {
    white-space: nowrap;
    color: white;
    font-family: "LEMONMILK-Regular";
    font-size: 18px;
}


.event-container .update-container{
    display: flex;
    width: 100%;
    overflow-y: hidden;
    transition:2s ease;
    align-items: center;
  }

    /* Hide the images by default */
    .slides .slide {
      display:none;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        margin-top: -6%;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

    .prev{
      left:-1px;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
      position: relative;
    }

    @-webkit-keyframes fade {
      from {opacity: .4;left:-40px;}
      to {opacity: 1;left:0px;}
    }

    @keyframes fade {
      from {opacity: .4;left:-40px;}
      to {opacity: 1;left:0px;}
    }

    @keyframes fade2 {
        from {left:-200px}
        to {left:0}
      }

      @keyframes up {
        from {
        opacity: 0;
        transform: translate(0, 150px);
        }
        to {
        opacity: 1;
        transform: translate(0, 0);
        }
    }

    @media only screen and (max-width: 700px){
        .banner {
            display: block;
        }
        .college-logo img {
            display: block;
            margin: 0 auto;
            width: 90%;
            height: auto;
        }
        .banner-right {
            display: block;
            margin: 10px 10%;
        }
        .register-box{
            margin:2%;
        }
        .xactitude21 , .timer {
            margin:25px 10% ;
            font-size:40px;
        }
        .button1{
            font-size: 14px;
            margin:30px 5%;
        }
        .event-box{
            margin-top: 5%;
        }
        .update{
            font-size: 12px;
        }
        .prev, .next{
            padding:8px;
        }
    }

