@font-face {
    font-family: "LEMONMILK-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("Fonts/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LEMONMILK-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("Fonts/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: "LEMONMILK-Light";
    font-style: normal;
    font-weight: 300;
    src: url("Fonts/LEMONMILK-Light.otf");
}

@font-face {
    font-family: "LEMONMILK-Bold";
    font-style: normal;
    font-weight: 300;
    src: url("Fonts/LEMONMILK-Bold.otf");
}

* {
  box-sizing: border-box;
}
.lemonmilk-bold-black-89px {
  color: black;
  font-family: "LEMONMILK-Bold", Helvetica, Arial, serif;
  font-size: 89px;
  font-style: normal;
  font-weight: 700;
}
.lemonmilk-medium-black-60px {
  color: black;
  font-family: "LEMONMILK-Medium", Helvetica, Arial, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
}
.lemonmilk-medium-hint-of-red-66px {
  color: var(--hint-of-red);
  font-family: "LEMONMILK-Medium", Helvetica, Arial, serif;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
}
.lemonmilk-regular-normal-black-35px {
  color: black;
  font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}
.lemonmilk-regular-normal-black-39px {
  color: black;
  font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
}
.lemonmilk-regular-normal-black-71px {
  color: black;
  font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
  font-size: 71px;
  font-style: normal;
  font-weight: 400;
}
.lemonmilk-regular-normal-cinnabar-40px {
  color: var(--cinnabar);
  font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.lemonmilk-regular-normal-forest-green-40px {
  color: var(--forest-green);
  font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.lemonmilk-regular-normal-white-41px {
  color: white;
  font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
  font-size: 41px;
  font-style: normal;
  font-weight: 400;
}
.profile {
  background-color: white;
  height: 2583px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.profile .banner {
  background-color: white;
  height: 183px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
.profile .college {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0px;
  line-height: 39px;
  position: absolute;
  text-align: left;
  top: 310px;
  white-space: nowrap;
  width: auto;
}
.profile .confirm {
  background-color: var(--cinnabar);
  border: 5px solid white;
  border-radius: 104px;
  height: 629px;
  left: 1328px;
  position: absolute;
  top: 304px;
  width: 442px;
}
.profile .confirm-1 {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0px;
  line-height: 89px;
  position: absolute;
  text-align: left;
  top: 482px;
  white-space: nowrap;
  width: auto;
}
.profile .contact {
  background-color: var(--jacaranda);
  height: 71px;
  left: 0px;
  position: absolute;
  top: 2515px;
  width: 1920px;
}
.profile .contact-1 {
  background-color: transparent;
  height: auto;
  left: 826px;
  letter-spacing: 0px;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.profile .event-1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 106px;
  white-space: nowrap;
  width: auto;
}
.profile .event-2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.profile .event-3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 60px;
  white-space: nowrap;
  width: auto;
}
.profile .event-4 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 308px;
  white-space: nowrap;
  width: auto;
}
.profile .event-5 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 374px;
  white-space: nowrap;
  width: auto;
}
.profile .event-6 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 442px;
  white-space: nowrap;
  width: auto;
}
.profile .home-icon {
  background-color: transparent;
  height: 70px;
  left: 48px;
  position: fixed;
  top: 40px;
  width: 65px;
}
.profile .location {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 375px;
  white-space: nowrap;
  width: auto;
}
.profile .name {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0px;
  line-height: 71px;
  position: absolute;
  text-align: left;
  top: 206px;
  white-space: nowrap;
  width: auto;
}
.profile .overlap-group {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 180px;
  width: 173px;
}
.profile .paid {
  background-color: transparent;
  height: auto;
  left: 1649px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 1008px;
  white-space: nowrap;
  width: auto;
}
.profile .pending {
  background-color: transparent;
  height: auto;
  left: 1341px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 1008px;
  white-space: nowrap;
  width: auto;
}
.profile .pendingfee {
  background-color: transparent;
  height: auto;
  left: 67px;
  letter-spacing: 0px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 108px;
  white-space: nowrap;
  width: auto;
}
.profile .profile {
  background-color: transparent;
  color: black;
  font-family: "LEMONMILK-Bold", Helvetica, Arial, serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 734px;
  letter-spacing: 0px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 47px;
  white-space: nowrap;
  width: auto;
}
.profile .regis-events {
  background-color: transparent;
  height: 488px;
  left: 142px;
  position: absolute;
  top: 523px;
  width: 628px;
}
.profile .regis-events-1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}
.profile .results {
  background-color: white;
  border: 1px solid var(--dove-gray);
  height: 402px;
  left: 146px;
  position: absolute;
  top: 2010px;
  width: 1628px;
}
.profile .results-1 {
  background-color: transparent;
  height: auto;
  left: 722px;
  letter-spacing: 0px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 171px;
  white-space: nowrap;
  width: auto;
}
.profile .trans-rec {
  background-color: transparent;
  height: 220px;
  left: 142px;
  position: absolute;
  top: 1176px;
  width: 706px;
}
.profile .trans-rec-1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}
.profile .transaction-id-1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 106px;
  white-space: nowrap;
  width: auto;
}
.profile .transaction-id-2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 174px;
  white-space: nowrap;
  width: auto;
}
.profile .updates {
  background-color: white;
  border: 1px solid var(--dove-gray);
  height: 402px;
  left: 142px;
  position: absolute;
  top: 1514px;
  width: 1628px;
}
.profile .updates-1 {
  background-color: transparent;
  height: auto;
  left: 517px;
  letter-spacing: 0px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 171px;
  white-space: nowrap;
  width: auto;
}
.segoeui-regular-normal-black-60px {
  color: black;
  font-family: "SegoeUI-Regular", Helvetica, Arial, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --cinnabar: rgba(239, 54, 54, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --forest-green: rgba(3, 154, 43, 1);
  --hint-of-red: rgba(249, 249, 249, 1);
  --jacaranda: rgba(33, 0, 38, 1);
}
