@font-face {
    font-family: "LEMONMILK-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("Fonts/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LEMONMILK-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("Fonts/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: "LEMONMILK-Light";
    font-style: normal;
    font-weight: 300;
    src: url("Fonts/LEMONMILK-Light.otf");
}

@font-face {
    font-family: "LEMONMILK-Bold";
    font-style: normal;
    font-weight: 300;
    src: url("Fonts/LEMONMILK-Bold.otf");
}

* {
  box-sizing: border-box;
}
.lemonmilk-bold-black-100px {
  color: black;
  font-family: "LEMONMILK-Bold", Helvetica, Arial, serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
}
.lemonmilk-medium-black-66px {
  color: black;
  font-family: "LEMONMILK-Medium", Helvetica, Arial, serif;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
}
.lemonmilk-regular-normal-blaze-orange-52px {
  color: var(--blaze-orange);
  font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
}
.reisterevents {
  background-color: white;
  height: 1079px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.reisterevents .confirm {
  background-color: white;
  border: 5px solid var(--jacaranda);
  border-radius: 104px;
  height: 629px;
  left: 1321px;
  position: fixed;
  top: 338px;
  width: 442px;
}
.reisterevents .confirm-1 {
  background-color: transparent;
  height: auto;
  left: 96px;
  letter-spacing: 0px;
  line-height: 52px;
  position: absolute;
  text-align: left;
  top: 472px;
  white-space: nowrap;
  width: auto;
}
.reisterevents .event {
  background-color: transparent;
  height: auto;
  left: 98px;
  letter-spacing: 0px;
  line-height: 66px;
  position: absolute;
  text-align: left;
  top: 58px;
  white-space: nowrap;
  width: auto;
}
.reisterevents .event-1 {
  background-color: transparent;
  height: auto;
  left: 99px;
  letter-spacing: 0px;
  line-height: 66px;
  position: absolute;
  text-align: left;
  top: 58px;
  white-space: nowrap;
  width: auto;
}
.reisterevents .event1 {
  background-color: white;
  border: 1px solid var(--dove-gray);
  border-radius: 42px;
  height: 183px;
  left: 103px;
  position: absolute;
  top: 321px;
  width: 479px;
}
.reisterevents .event1-1 {
  background-color: transparent;
  height: auto;
  left: 110px;
  letter-spacing: 0px;
  line-height: 66px;
  position: absolute;
  text-align: left;
  top: 58px;
  white-space: nowrap;
  width: auto;
}
.reisterevents .event2 {
  background-color: white;
  border: 1px solid var(--dove-gray);
  border-radius: 42px;
  height: 183px;
  left: 105px;
  position: absolute;
  top: 561px;
  width: 479px;
}
.reisterevents .event3 {
  background-color: white;
  border: 1px solid var(--dove-gray);
  border-radius: 42px;
  height: 183px;
  left: 105px;
  position: absolute;
  top: 801px;
  width: 479px;
}
.reisterevents .event4 {
  background-color: white;
  border: 1px solid var(--dove-gray);
  border-radius: 42px;
  height: 183px;
  left: 688px;
  position: absolute;
  top: 321px;
  width: 479px;
}
.reisterevents .event4-1 {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: 0px;
  line-height: 66px;
  position: absolute;
  text-align: left;
  top: 58px;
  white-space: nowrap;
  width: auto;
}
.reisterevents .event5 {
  background-color: white;
  border: 1px solid var(--dove-gray);
  border-radius: 42px;
  height: 183px;
  left: 690px;
  position: absolute;
  top: 561px;
  width: 479px;
}
.reisterevents .event6 {
  background-color: white;
  border: 1px solid var(--dove-gray);
  border-radius: 42px;
  height: 183px;
  left: 690px;
  position: absolute;
  top: 801px;
  width: 479px;
}
.reisterevents .fee {
  background-color: transparent;
  height: auto;
  left: 164px;
  letter-spacing: 0px;
  line-height: 66px;
  position: absolute;
  text-align: left;
  top: 126px;
  white-space: nowrap;
  width: auto;
}
.reisterevents .home-icon {
  background-color: transparent;
  height: 70px;
  left: 59px;
  position: fixed;
  top: 47px;
  width: 65px;
}
.reisterevents .register {
  background-color: transparent;
  height: auto;
  left: 697px;
  letter-spacing: 0px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 104px;
  white-space: nowrap;
  width: auto;
}
:root {
  --blaze-orange: rgba(255, 102, 0, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --jacaranda: rgba(33, 0, 38, 1);
}
