@font-face {
    font-family: "LEMONMILK-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("Fonts/LEMONMILK-Medium.otf");
}

@font-face {
  font-family: "LEMONMILK-Bold";
  font-style: normal;
  src: url("Fonts/LEMONMILK-Bold.otf");
}

@font-face {
    font-family: "LEMONMILK-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("Fonts/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: "LEMONMILK-Light";
    font-style: normal;
    font-weight: 300;
    src: url("Fonts/LEMONMILK-Light.otf");
}

* {
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
}

:root {
  --blaze-orange: rgba(255, 102, 0, 1);
  --jacaranda: rgba(33, 0, 38, 1);
  --ocean-blue-pearl: rgba(84, 65, 219, 1);
}
.title {
  text-align: left;
}
.banner{
  font-family: "LEMONMILK-Regular";
  background-color: black;
  color: white;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}
.xactitude{
  font-size: 35px;
  font-weight:400;
  color:white;
  float:left;
}
.banner-right {
display: flex;
}

.home, .contct {
  color:blueviolet;
  font-family: "LEMONMILK-Regular";
  font-size: 18px;
  margin:15px;
  text-decoration: none;
}
.home:hover, .contct:hover {
  color:var(--soft-peach);
  font-weight: 900;
}

.register {
  margin: 5%;
  font-family: "LEMONMILK-Bold";
  font-size: 72px;
}
 .gform {
  position: relative;
  margin: 50px auto;
  width: 90%;
  height: 1075px;
  overflow: hidden;
 }
.gform iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media only screen and (max-width: 600px){
 .register {
   font-size: 64px;
 }   
}