@font-face {
    font-family: "LEMONMILK-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("Fonts/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LEMONMILK-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("Fonts/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: "LEMONMILK-Light";
    font-style: normal;
    font-weight: 300;
    src: url("Fonts/LEMONMILK-Light.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 1081px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.create-new-account {
  background-color: transparent;
  height: auto;
  left: 775px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 816px;
  white-space: nowrap;
  width: auto;
  color: var(--ocean-blue-pearl);
  font-family: "LEMONMILK-Regular";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.email-id-box {
  background-color: transparent;
  height: 140px;
  left: 536px;
  position: absolute;
  top: 400px;
  width: 847px;
}
.email-id {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
  font-family: "LEMONMILK-Regular";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.home-icon {
  background-color: transparent;
  height: 70px;
  left: 59px;
  position: fixed;
  top: 47px;
  width: 65px;
}
.line {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 140px;
  width: 847px;
}
.password-box {
  background-color: transparent;
  height: 140px;
  left: 536px;
  position: absolute;
  top: 606px;
  width: 847px;
}
.password {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
  font-family: "LEMONMILK-Regular";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.sign-btn-box {
  background-color: transparent;
  border: 5px solid var(--jacaranda);
  border-radius: 58px;
  height: 116px;
  left: 739px;
  position: absolute;
  top: 879px;
  width: 442px;
}
.sign-btn {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0px;
  line-height: 52px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
  color: var(--blaze-orange);
  font-family: "LEMONMILK-Regular";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
}

.sign-in {
  background-color: transparent;
  height: auto;
  left: 751px;
  letter-spacing: 0px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
  color: black;
  font-family: "LEMONMILK-Regular";
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --blaze-orange: rgba(255, 102, 0, 1);
  --jacaranda: rgba(33, 0, 38, 1);
  --ocean-blue-pearl: rgba(84, 65, 219, 1);
}
