@font-face {
    font-family: "LEMONMILK-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("Fonts/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LEMONMILK-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("Fonts/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: "LEMONMILK-Light";
    font-style: normal;
    font-weight: 300;
    src: url("Fonts/LEMONMILK-Light.otf");
}

* {
    margin:0;
    box-sizing: border-box;
}
.animate-enter {
    animation: animate-enter-frames 0.8s ease 0s 1 normal forwards;
    display: block;
    opacity: 0;
    transform: translate(-80px, 0);
}
.animate-enter1 {
    animation: animate-enter1-frames 1.2s ease 1s 1 normal forwards;
    display: block;
    opacity: 0;
    transform: translate(0, 150px);
}
.homepage {
    background-color: white;
    height: 4339px;
    position: relative;
    width: 1920px;
}
.homepage .college-logo {
    background-color: transparent;
    height: auto;
    left: 85px;
    letter-spacing: 0px;
    line-height: 77px;
    position: absolute;
    text-align: left;
    top: 76px;
    white-space: nowrap;
    width: auto;
}
.homepage .contact {
    background-color: var(--jacaranda);
    height: 66px;
    left: 0px;
    position: absolute;
    top: 4275px;
    width: 1920px;
}
.homepage .contact-1 {
    background-color: transparent;
    height: auto;
    left: 1625px;
    letter-spacing: 0px;
    line-height: 32px;
    position: absolute;
    text-align: left;
    top: 18px;
    white-space: nowrap;
    width: auto;
}
.homepage .event1 {
    background-color: transparent;
    height: auto;
    left: 806px;
    letter-spacing: 0px;
    line-height: 128px;
    position: absolute;
    text-align: left;
    top: 432px;
    white-space: nowrap;
    width: auto;
}
.homepage .events {
    background-color: var(--soft-peach);
    height: 1313px;
    left: 0px;
    position: absolute;
    top: 2412px;
    width: 1920px;
}
.homepage .home-icon {
    background-color: transparent;
    height: 70px;
    left: 1797px;
    position: absolute;
    top: 4139px;
    width: 65px;
}
.homepage .learn-more {
    background-color: transparent;
    height: auto;
    left: 96px;
    letter-spacing: 0px;
    line-height: 30px;
    position: absolute;
    text-align: left;
    top: 18px;
    white-space: nowrap;
    width: auto;
}
.homepage .register {
    background-color: white;
    border: 1px solid var(--dove-gray);
    border-radius: 167px;
    height: 196px;
    left: 267px;
    position: absolute;
    top: 3943px;
    width: 1408px;
}
.homepage .register-1 {
    background-color: transparent;
    height: auto;
    left: 598px;
    letter-spacing: 0px;
    line-height: 60px;
    position: absolute;
    text-align: left;
    top: 68px;
    white-space: nowrap;
    width: auto;
}
.homepage .register-2 {
    background-color: var(--cinnabar);
    border: 1px solid var(--dove-gray);
    border-radius: 167px;
    display: block;
    height: 333px;
    left: 256px;
    position: absolute;
    top: 1205px;
    width: 1408px;
    opacity: 0;
    transform: translate(0, 150px);
}
.homepage .register-3 {
    background-color: transparent;
    height: auto;
    left: 558px;
    letter-spacing: 0px;
    line-height: 60px;
    position: absolute;
    text-align: left;
    top: 137px;
    white-space: nowrap;
    width: auto;
}
.homepage .sign-in {
    background-color: transparent;
    height: auto;
    left: 1674px;
    letter-spacing: 0px;
    line-height: 33px;
    position: absolute;
    text-align: left;
    top: 102px;
    white-space: nowrap;
    width: auto;
}
.homepage .sign-up {
    background-color: var(--blaze-orange);
    border-radius: 67px;
    height: 69px;
    left: 1425px;
    position: absolute;
    top: 83px;
    width: 200px;
}
.homepage .sign-up-1 {
    background-color: transparent;
    height: auto;
    left: 31px;
    letter-spacing: 0px;
    line-height: 33px;
    position: absolute;
    text-align: left;
    top: 18px;
    white-space: nowrap;
    width: auto;
}
.homepage .span {
    color: rgba(255, 255, 255, 1);
    font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
    font-size: 91px;
    font-style: normal;
    font-weight: 400;
}
.homepage .span1 {
    color: rgba(255, 102, 0, 1);
    font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
    font-size: 91px;
    font-style: normal;
    font-weight: 400;
}
.homepage .timer {
    background-color: transparent;
    height: auto;
    left: 870px;
    letter-spacing: 0px;
    line-height: 91px;
    position: absolute;
    text-align: left;
    top: 678px;
    white-space: nowrap;
    width: auto;
}
.homepage .title {
    background-color: var(--jacaranda);
    border: 1px solid var(--dove-gray);
    height: 1096px;
    left: -21px;
    position: absolute;
    top: -19px;
    width: 1952px;
}
.homepage .updates {
    background-color: white;
    border: 1px solid var(--dove-gray);
    display: block;
    height: 402px;
    left: 222px;
    position: absolute;
    top: 1774px;
    width: 1476px;
    opacity: 0;
    transform: translate(-80px, 0);
}
.homepage .updates-1 {
    background-color: transparent;
    height: auto;
    left: 441px;
    letter-spacing: 0px;
    line-height: 60px;
    position: absolute;
    text-align: left;
    top: 171px;
    white-space: nowrap;
    width: auto;
}
.homepage .xactitude21 {
    background-color: transparent;
    height: auto;
    left: 537px;
    letter-spacing: 0px;
    line-height: 117px;
    position: absolute;
    text-align: left;
    top: 510px;
    white-space: nowrap;
    width: auto;
}
.lemonmilk-light-white-77px {
    color: white;
    font-family: "LEMONMILK-Light", Helvetica, Arial, serif;
    font-size: 77px;
    font-style: normal;
    font-weight: 300;
}
.lemonmilk-medium-white-117px {
    color: white;
    font-family: "LEMONMILK-Medium", Helvetica, Arial, serif;
    font-size: 117px;
    font-style: normal;
    font-weight: 500;
}
.lemonmilk-normal-white-91px {
    color: white;
    font-family: "LEMON MILK", Helvetica, Arial, serif;
    font-size: 91px;
}
.lemonmilk-regular-normal-white-30px {
    color: white;
    font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}
.lemonmilk-regular-normal-white-32px {
    color: white;
    font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.lemonmilk-regular-normal-white-33px {
    color: white;
    font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
}
.lemonmilk-regular-normal-white-60px {
    color: white;
    font-family: "LEMONMILK-Regular", Helvetica, Arial, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
}
.segoeui-regular-normal-black-128px {
    color: black;
    font-family: "SegoeUI-Regular", Helvetica, Arial, serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
}
.segoeui-regular-normal-black-60px {
    color: black;
    font-family: "SegoeUI-Regular", Helvetica, Arial, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
}
:root {
    --blaze-orange: rgba(255, 102, 0, 1);
    --cinnabar: rgba(239, 54, 54, 1);
    --dove-gray: rgba(112, 112, 112, 1);
    --jacaranda: rgba(33, 0, 38, 1);
    --soft-peach: rgba(242, 234, 239, 1);
}
@keyframes animate-enter-frames {
    from {
    opacity: 0;
    transform: translate(-80px, 0);
    }
    to {
    opacity: 1;
    transform: translate(0, 0);
    }
}
@keyframes animate-enter1-frames {
    from {
    opacity: 0;
    transform: translate(0, 150px);
    }
    to {
    opacity: 1;
    transform: translate(0, 0);
    }
}