@font-face {
  font-family: "LEMONMILK-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("Fonts/LEMONMILK-Medium.otf");
}

@font-face {
  font-family: "LEMONMILK-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("Fonts/LEMONMILK-Regular.otf");
}

@font-face {
  font-family: "LEMONMILK-Light";
  font-style: normal;
  font-weight: 300;
  src: url("Fonts/LEMONMILK-Light.otf");
}

@font-face {
  font-family: "LEMONMILK-Bold";
  font-style: normal;
  font-weight: 600;
  src: url("Fonts/LEMONMILK-Bold.otf");
}

:root {
  --blaze-orange: rgba(255, 102, 0, 1);
  --cinnabar: rgba(239, 54, 54, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --jacaranda: rgba(33, 0, 38, 1);
  --soft-peach: rgba(242, 234, 239, 1);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.smooth {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 60px;
  font-size: 1rem;
  background-color: black;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}
.header ul li {
  margin: 0 1em;
  padding: 1em;
}
.header ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #f4f4f4;
}
.header ul li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 0;
  height: 3px;
  transition: all 0.2s linear;
}
.header ul li a:hover::after {
  width: 100%;
  background-color: #f4f4f4;
}

section{
  position: relative;
  display: flex;
  width: 100%;
 height: auto;
  flex-flow: column wrap;
  background-color: #f4f4f4;
  background-size: cover;
  scroll-snap-align: center;
}

section:nth-child(2) {
  background-color:black;
  align-items: center;
  height:100vh;
}
section:nth-child(3) {
  padding: 8% 2%;
  background-color: blueviolet;
  color: white;
}
section:nth-child(4) {
    background-color: white;
    position: relative;
    border-style: none;
    align-items: center;
    box-shadow: 8px 8px 12px gray;
    padding: 8% 0 1% 0;
}
section:nth-child(5) {
  padding: 10% 2%;
  background-color: blueviolet;
  color: white;
}
section:nth-child(6) {
  background-color:white;
    text-align: center;
    padding: 20px 50px;
    margin: 5% 0;
    position: relative;
}

section:nth-child(1) {
  background-color: cornsilk;
}

.kjc-logo{
  width: 40%;
  margin: -2%;
  padding: 0;
}
.img1{
  width:60%;
  margin:15% 5% 0 5%;
}
.timer {
  color: white;
  font-family:"LEMONMILK-Regular";
  font-size: 35px;
  margin:3% 5%;
  animation-name: up;
  animation-duration: 2s;
}

.about-xactitude, .about-college{
  display: grid;
  grid-template-columns: 50% auto;
}

.left h1, .right h1{
  font-family: "LEMONMILK-Bold";
  font-size: 30px;
}
.right h1{
  margin-top: 7%;
}
.left p, .right p{
  font-family: Verdana;
  font-size: 18px;
  margin: 10px;
  text-align: justify;
}

.img2{
  padding: 30% 5%;
  width: 80%;
}

.update {
  color: black;
  font-family: "LEMONMILK-Regular";
  font-size: 20px;
  width:100%;
  line-height: 100px;
}
.event-container, .update-container{
  display: flex;
  overflow-y: hidden;
  transition: 2s ease;
  background-color: white;
  width: 100%;
  margin-bottom: 3%;
  justify-content: center;
}

.event-box h1{
  font-family: "LEMONMILK-Bold";
  font-size: 30px;
  text-align: center;
  margin-bottom: -25px;
}

  /* Hide the images by default */
  .slides .slide {
    display:none;
  }
  .slides img {
      width:75%;
      box-shadow:5px 5px 40px;
      border-radius: 3%;
      margin: 5%;
  }

  /* Next & previous buttons */
  .prev, .next {
      cursor: pointer;
      position: absolute;
      width: auto;
      top: 50%;
      padding: 16px;
      color: black;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

  .prev{
    left:-1px;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: white;
    background-color: rgba(0,0,0,0.8);
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    position: relative;
  }

  @-webkit-keyframes fade {
    from {opacity: .4;left:-40px;}
    to {opacity: 1;left:0px;}
  }

  @keyframes fade {
    from {opacity: .4;left:-40px;}
    to {opacity: 1;left:0px;}
  }

  @keyframes fade2 {
      from {left:-200px}
      to {left:0}
    }

    @keyframes up {
      from {
      opacity: 0;
      transform: translate(0, 150px);
      }
      to {
      opacity: 1;
      transform: translate(0, 0);
      }
  }

  .col-image{
    z-index: 1;
    height:120%;
    opacity: 0.3;
    position:absolute;
    left:0;
    top:0;
  }
  
  .contact-banner {
    background-color: var(--jacaranda);
    font-family: "LEMONMILK-Light";
    color: white;
    padding:25px;
    position: relative;
    z-index: 3;
    opacity: 1;
    overflow: hidden;
  }
  
  
  .heading {
    z-index: 3;
    font-size:35px;
    font-family: "LEMONMILK-Bold";
    margin-bottom: 30px;
    position: relative;
    
  }
  .details {
    z-index: 3;
    font-size: 14px;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
  }
  .details big {
    z-index: 3;
    font-family: "LEMONMILK-Regular";
    font-weight: 800;
    font-size: 20px;
    color: var(--soft-peach);
    position: relative;
  }
  .details a {
    color: inherit;
  }
  .links {
    z-index: 3;
    width: 100px;
    position: relative;
    text-align: right;
    display: grid;
    width: 100%;
    justify-items: end;
  }
  .link-icon{
    text-align: right;
    position: relative;
    margin-bottom: 5px;
  }
  